*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Rongo/target/
/Rongo/Rongo-web/target/
/Rongo/Rongo-ejb/target/
/Rongo/Rongo/Rongo-web/target/
/Rongo/Rongo/Rongo-ejb/target/
/Rongo/Rongo/Rongo-ear/target/
/Rongo/webService/nbproject/private/
/Rongo/webService/build/